<mat-toolbar color="accent" style="display: flex; justify-content: space-between;">
  <div style="display: flex;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <div style="display: flex; align-items: center;">
      <span style="display: flex;">MEAN stack posting app.</span>
    </div>
  </div>
  <div>
    <span class="example-spacer"></span>
    <button mat-button routerLink='/create' routerLinkActive="mat-accent">
      <span>create</span>
    </button>
    <button mat-button routerLink='/' routerLinkActive="mat-accent">
      <span>posts</span>
    </button>
  </div>
  </mat-toolbar>