<div class="main">
    <mat-card class="inner-one">
        <form action="" style="margin: 5px;" (submit)="savePost(postForm)" #postForm="ngForm">
            <mat-form-field style="margin: 5px;">
                <input name="title" 
                    type="textarea" 
                    matInput 
                    ngModel 
                    #title="ngModel" 
                    minlength="2">
                <mat-error *ngIf="true">asdsa</mat-error>
            </mat-form-field>
            <mat-form-field style="margin: 5px;">
                <textarea name="content" type="textarea" matInput ngModel></textarea>
            </mat-form-field>
            <button class="inner-one-b" type="submit" mat-raised-button>Save Post</button>
        </form>
    </mat-card>
    <p>{{postText}}</p>
</div>